<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">

  <Worksheet ss:Name="Sheet1">
    <Table>
      <Column ss:Width="100"/>
      <Column ss:Width="100"/>
      <Column ss:Width="100"/>
      <Column ss:Width="100"/>
      <Column ss:Width="100"/>
      <Column ss:Width="100"/>
      <Row>
        <Cell><Data ss:Type="String">订单号</Data></Cell>
        <Cell><Data ss:Type="String">Email</Data></Cell>
        <Cell><Data ss:Type="String">姓名</Data></Cell>
        <Cell><Data ss:Type="String">门票</Data></Cell>
        <Cell><Data ss:Type="String">金额</Data></Cell>
        <Cell><Data ss:Type="String">订单日期</Data></Cell>
      </Row>
    <% @orders.each do |order| %>
      <Row>
        <Cell><Data ss:Type="String"><%= order.number %></Data></Cell>
        <Cell><Data ss:Type="String"><%= order.user.email %></Data></Cell>
        <Cell><Data ss:Type="String"><%= order.user.name %></Data></Cell>
        <Cell>
          <Data ss:Type="String">
            <% order.items.each do |item| %>
              <%= "#{item.ticket.name}（#{item.price}元） x #{item.quantity}" %>
            <% end %>
          </Data>
        </Cell>
        <Cell><Data ss:Type="String"><%= order.price %></Data></Cell>
        <Cell><Data ss:Type="String"><%= order.created_at.to_date.to_s(:db) %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
